@font-face {
    font-family: 'Segoe Script', monospace;
    src:url("fonts/segoescb.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

header {
  height: 16vh;
  display: flex;
  align-items: center;
}

header img {
  position: absolute;
  left: 10.55vw;
  width: 120px;
  -webkit-animation: slide-in-down 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
	animation: slide-in-down 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
}

header nav {
  position: absolute;
  right: 10.55vw;
}

header nav input{
  display: none;
}

header nav ul {
  width: 40vw;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
}

header nav a {
  display: flex;
  flex-direction: row;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 1em;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(191, 191, 191);
  transition: color 0.3s ease;
  -webkit-animation: fade-in 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2.5s both;
	animation: fade-in 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2.5s both;
}

header nav a:hover {
  color: rgb(0, 0, 0);
}

div.stripe-pink {
  position: absolute;
  top: 145px;
  height: 227.5px;
  width: 100vw;
  background-color: rgb(253, 223, 223);
  -webkit-animation: scale-up-hor-left 1.2s ease-in both;
  animation: scale-up-hor-left 1.2s ease-in both;
}

div.next {
  position: absolute;
  margin: auto;
  top: 90vh;
  left: 0;
  right: 0;
  bottom: 0;
}

div.next i.one{
  position: absolute;
  margin: auto;
  top: 0;
  left: 47.5%;
  right: 0;
  bottom: 0;
  font-size: 2.5em;
  color: rgb(242, 242, 242);
  -webkit-animation: slide-in-down 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite 4s both;
	animation: slide-in-down 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite 4s both;
}

div.next i.two{
  position: absolute;
  margin: auto;
  top: 15%;
  left: 47.5%;
  right: 0;
  bottom: 0;
  font-size: 2.5em;
  color: rgb(242, 242, 242);
  -webkit-animation: slide-in-down 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite 3s both;
	animation: slide-in-down 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite 3s both;
}

div.marks {
  position: absolute;
  top: 88px;
  right: 7.45vw;
  height: 5vh;
  width: 3.2vw;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  z-index: 1;
}

main {
  position: absolute;
  margin: 0 auto;
  top: 122px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 70vh;
  width: 78.9vw;
  background-color: white;
  -webkit-box-shadow: -15px 15px 40px -8px rgba(0,0,0,0.15);
  -moz-box-shadow: -15px 15px 40px -8px rgba(0,0,0,0.15);
  box-shadow: -15px 15px 40px 5px rgba(0,0,0,0.15);
}

main::before {
  position: absolute;
  top: 6px;
  left: 6px;
  content: "";
  height: 7vh;
  width: 7vw;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

main::after {
  position: absolute;
  left: 6px;
  bottom: 6px;
  content: "";
  height: 7vh;
  width: 45vw;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

div.stripe-grey {
  position: absolute;
  top: 23px;
  left: 7px;
  height: 228px;
  width: 36.5vw;
  background-color: rgb(242, 242, 242);
  -webkit-animation: scale-up-hor-left 0.5s ease-in 0.4s both;
  animation: scale-up-hor-left 0.5s ease-in 0.4s both;
}

div.color-palette {
  position: absolute;
  right: -12px;
  bottom: 80px;
  width: 22px;
  height: 20vh;
  z-index: 1;
  -webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
  animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
}

div.color-palette div.one {
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: rgb(253, 223, 223);
}

div.color-palette div.two {
  position: absolute;
  top: 22px;
  width: 22px;
  height: 22px;
  background-color: rgb(249, 179, 179);
}

div.color-palette div.three {
  position: absolute;
  top: 44px;
  width: 22px;
  height: 22px;
  background-color: rgb(244, 124, 124);
}

div.color-palette div.four {
  position: absolute;
  top: 66px;
  width: 22px;
  height: 22px;
  background-color: rgb(0, 0, 0);
}

div.color-palette div.five {
  position: absolute;
  top: 88px;
  width: 22px;
  height: 22px;
  background-color: rgb(217, 217, 217);
}

div.color-palette div.six {
  position: absolute;
  top: 110px;
  width: 22px;
  height: 22px;
  background-color: rgb(242, 242, 242);
}

div.color-palette div.seven {
  position: absolute;
  top: 132px;
  width: 22px;
  height: 22px;
  background-color: rgb(247, 247, 247);
}

div.social-media {
  position: absolute;
  top: 41.5vh;
}

div.box {
  margin: 10px 5px;
  width: 22px;
  height: 22px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:  rgb(217, 217, 217);
}

div.box i.fab {
  font-size: 1.1em;
  color: #FFF;
}

div.twitter {
  -webkit-animation: slide-in-up 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
  animation: slide-in-up 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
}

div.medium {
  -webkit-animation: slide-in-up 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
  animation: slide-in-up 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
}

div.github {
  -webkit-animation: slide-in-up 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s both;
  animation: slide-in-up 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s both;
}

section {
  position: absolute;
  right: 7px;
  bottom: 7px;
  height: 97.2%;
  width: 98%;
}

section::before {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  height: 7vh;
  width: 7vw;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

section::after {
  position: absolute;
  right: 0;
  content: "";
  height: 30vh;
  width: 7vw;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

section h1 {
  position: absolute;
  top: 120px;
  left: 3.3vw; /*rethink for mobile*/
  font-family: 'Josefin Sans', sans-serif;
  font-size: 6.5vw;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typewriter 2s steps(30) 1s 1 normal both;
  animation: typewriter 2s steps(30) 1s 1 normal both;
}

section h1 span {
  color: rgb(249, 179, 179);
}

section p {
  position: absolute;
  top: 215px;
  left: 5.5vw;
  font-family: 'Segoe Script', monospace;
  font-weight: bold;
  font-size: 2.2vw;
  -webkit-animation: slide-in-up 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
	animation: slide-in-up 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
}

section p::before {
  position: absolute;
  top: 50%;
  content: "";
  width: 15%;
  height: 1px;
  border-top: 2px solid black;
}

section p span {
  position: relative;
  margin-right: 7vw;
}

/*** animation scale-up-hor-left ***/
@-webkit-keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}
@keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}

/*** animation typing ***/
@-webkit-keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}
@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

/*** animation slide-in-up ***/
@-webkit-keyframes slide-in-up {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-up {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/*** animation slide-in-down ***/
@-webkit-keyframes slide-in-down {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-down {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/*** animation fade-in ***/
@-webkit-keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/*** animation scale-in-ver-top ***/
@-webkit-keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}

/*** animation slide-in-right ***/
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/*** animation swing-in-top-bck ***/
@-webkit-keyframes swing-in-top-bck {
  0% {
    -webkit-transform: rotateX(70deg);
            transform: rotateX(70deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-bck {
  0% {
    -webkit-transform: rotateX(45deg);
            transform: rotateX(45deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

/*** Layout Adjust ***/
@media (max-width: 1400px) {
  header nav ul {
    width: 45vw;
  }
  div.stripe-pink {
    height: 220px;
  }
  div.stripe-grey {
    height: 220px;
  }
  section p {
    top: 209px;
    left: 5.7vw;
    font-size: 2.2vw;
  }
}

@media (max-width: 1150px) {
  header nav ul {
    width: 50vw;
  }
  div.stripe-pink {
    height: 210px;
  }
  div.stripe-grey {
    height: 210px;
  }
  section h1 {
    top: 135px;
    font-size: 6.55vw;
  }
  section p {
    top: 206px;
    left: 5.5vw;
    font-size: 2.25vw;
  }
}

@media (max-width: 900px) {
  header nav ul {
    width: 55vw;
  }
  header nav a {
    font-size: 0.9em;
  }
  div.stripe-grey {
    width: 40vw;
  }
  section h1 {
    top: 145px;
    font-size: 7.32vw;
  }
  section p {
    top: 207px;
    left: 5.5vw;
    font-size: 2.6vw;
  }
}

@media (max-width: 700px) {
  section h1 {
    top: 160px;
    font-size: 7.40vw;
  }
  section p {
    top: 210px;
    left: 3.85vw;
    font-size: 2.8vw;
  }
}

@media (max-width: 650px) {
  header nav div#toggle {
    position: absolute;
    top: -58px;
    right: -50px;
    width: 100vw;
    -webkit-user-select: none;
    user-select: none;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);
  }
  header nav input {
    position: absolute;
    top: -17px;
    right: 8px;
    width: 40px;
    height: 32px;
    display: block;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
    -webkit-touch-callout: none;
  }
  header nav div#toggle span {
    position: relative;
    display: block;
    top: 45px;
    left: 85vw;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    border-radius: 3px;
    background-color: rgb(249, 179, 179);
    z-index: 2;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  header nav div#toggle span:first-child {
    transform-origin: 0% 0%;
  }
  header nav div#toggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  input:checked + div#toggle span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background-color: #000;
  }
  header nav input:checked + div#toggle span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  header nav input:checked + div#toggle span:nth-last-child(2) {
    transform: rotate(-45deg) translate(-2px, -1px);
  }
  header nav div#toggle ul {
    position: relative;
    right: 48px;
    flex-direction: column;
    padding: 10px 0px 10px 0px;
    margin-top: 65px;
    opacity: 0;
  }
  header nav div#toggle ul div.navbar {
    position: relative;
    right: -43px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
  }
  header nav div#toggle ul div.navbar a {
    width: 50vw;
    color: rgb(217, 217, 217);
    padding: 5px 0px 5px 100px;
    font-weight: 400;
    font-size: 1em;
    animation: none;
  }
  header nav div#toggle ul div.navbar:hover {
    background-color: rgba(253, 223, 223, 1);
  }
  header nav div#toggle ul div.navbar:hover a{
    color: #000;
  }
  input:checked + div#toggle ul {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
	  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
  }
  input:checked + div#toggle {
    background-color: rgba(0, 0, 0, 0.05);
    -webkit-animation: swing-in-top-bck 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.2s both;
	  animation: swing-in-top-bck 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.2s both;
  }
}

@media (max-width: 575px) {
  header nav input {
    right: -2px;
  }
  div.stripe-grey {
    width: 45vw;
  }
  section h1 {
    top: 160px;
    left: 4.7vw;
    font-size: 8.2vw;
  }
  section p {
    top: 212px;
    left: 5.7vw;
    font-size: 3.1vw;
  }
}

@media (max-width: 500px) {
  header nav input {
    right: -14px;
  }
  div.marks {
    right: 8vw;
  }
}

@media (max-width: 470px) {
  header nav div#toggle {
    right: -45px;
  }
  div.stripe-grey {
    width: 50vw;
  }
  section h1 {
    top: 165px;
    font-size: 9.3vw;
  }
  section p {
    left: 5.5vw;
    font-size: 3.5vw;
  }
  section p::before {
    width: 13%;
  }
  section p span {
    margin-right: 9vw;
  }
}

@media (max-width: 400px) {
  header nav input {
    right: -25px;
  }
  div.stripe-pink {
    height: 180px;
  }
  div.stripe-grey {
    height: 180px;
  }
  section h1 {
    top: 145px;
    left: 5.5vw;
  }
  section p {
    top: 187px;
    font-size: 4vw;
  }
  section p::before {
    width: 13%;
  }
  section p span {
    margin-right: 9vw;
  }
}

@media (max-width: 330px) {
  header nav input {
    right: -35px;
  }
}
